<% content_for :title, "Events" %>

<center>
 <p><%= link_to "Create new event", new_event_path, class: "btn btn-danger" %> </p>
</center>

  <center>

<div class="container">
<div class="row">
<%Event.all.each do |event|%>
  
<div class="card-deck col-xs-12 col-sm-12 col-md-4 col-lg-4">

<div class="card">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbVnHFBOFkxDZQkqxIAnJeRnSifg7Tm20_b2NWTxmTnq8fHnW2TA&s" class="card-img-top" alt="#">

<div class="card-header"> <%=event.title%> </div>

<div class="card-body align-center">
<blockquote class="blockquote mb-0">
<p > Location: <%=event.location%></p>
<p> Date : <%=event.start_date%></p>

</blockquote>
</div>
<footer class="blockquote-footer">
<div class="row justify-content-between align-self-center mx-3">
<p><%=event.duration%></p>
 <p class="card-text"> <%=event.location%></p>
 <div class="card-body align-center">
 <p>
 <p><%= link_to "See this event", event_path(event), class: "navbar-brand js-scroll-trigger" %> </p>
</p>
</div>
<p>
_____________________________________________________
</p>


</a>
</div>
</div> 
</div>
<%end%>
</div>
</div>

</center>
